<turbo-frame id="dashboard_content">
  <h1>Votre Collection</h1>
  <% if @collections.any? %>
    <ul>
      <% @collections.each do |collection| %>
        <li>
          <strong><%= collection.disc.title %></strong> - <%= collection.disc.artist %><br>
          <% if collection.disc.cover_url.present? %>
            <div>
              <%= image_tag collection.disc.cover_url, alt: "Cover for #{collection.disc.title}", class: "img-thumbnail" %>
            </div>
          <% end %>
          <%= link_to 'Supprimer', collection_path(collection),
              data: { turbo_method: :delete, confirm: 'Êtes-vous sûr de vouloir supprimer cet élément de votre collection ?' },
              class: 'btn btn-danger mt-2' %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>Votre collection est vide pour le moment.</p>
  <% end %>
</turbo-frame>

  </ul>
</turbo-frame>
