h1 {
  padding-block: 2rem;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 2.5rem;
  color: #000000;
  padding-inline-start: 3rem;
  text-align: center;
  //text-shadow: 2px 2px 4px #000000;
  padding-block: 1rem;


}

#musicrecobar {
  justify-items: center

}
