
  <!-- La div qui contient la vidéo en arrière-plan -->
  <div class="video-background">
    <!-- Vidéo en arrière-plan -->
    <img id="bgimage" class="mixtape-detail__background__image mixtape-detail__poster-image" src="https://media2.ntslive.co.uk/resize/1600x1600/f3657c6b-aa6b-4ad9-9c12-d9e9cbe7f68d_1626220800.jpeg" alt="Mixtape Poster Image">

</div>
