
  <!-- La div qui contient la vidéo en arrière-plan -->
  <div class="video-background">
    <!-- Vidéo en arrière-plan -->
    <video autoplay muted loop>
      <source src="https://media.ntslive.co.uk/static/island-time-1600x900-30fps-8ed7d9535492b79332e519348896d756.mp4" type="video/mp4">
      Désolé, votre navigateur ne supporte pas les vidéos HTML5.
    </video>

    <!-- Contenu au-dessus de la vidéo -->
    <div class="video-text-content">
      <h1>Bienvenue dans mon univers</h1>
      <p>Cette vidéo est en arrière-plan d'une div.</p>
    </div>
  </div>
