  <div class="video-background">
    <!-- Vidéo en arrière-plan -->
    <video autoplay muted loop>
    <video class="mixtape-detail__background__image mixtape-detail__video" src="https://media2.ntslive.co.uk/static/memory-lane-1600x900-30fps-b3651581c87270dccb8dc890be310965.mp4" poster="https://media2.ntslive.co.uk/resize/1600x1600/f889399d-6277-46e2-9be9-840bbdd25cc5_1560470400.jpeg" loop="" playsinline="" disableremoteplayback="true"></video>
      <source src="https://media2.ntslive.co.uk/static/poolside-1600x900-30fps-a4a1961d0f96f55f3e1d41dcdc162293.mp4" type="video/mp4">
      Désolé, votre navigateur ne supporte pas les vidéos HTML5.
    </video>

</div>
