<h1>Available Discs</h1>
<ul>
  <% @discs.each do |disc| %>
    <li>
      <p>----------------------------------------------</p>
      <strong>Title:</strong> <%= disc.title %><br>
      <strong>Artist:</strong> <%= disc.artist %><br>
      <strong>Release Date:</strong>
      <%= disc.release_date ? disc.release_date : "Unknown" %><br>
      <%= link_to "View Details", disc_path(disc) %>
    </li>
  <% end %>
</ul>
