

/////////////PARTIE DE DROITE (MESSAGES)//////////////////////
.chatroom-title {
  font-family: 'Raleway', sans-serif;
    font-size: 13px;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
    padding: 10px 0;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 9, 0.1);
    padding-inline: 40px;
    margin-inline: 51px;
    margin-left: 244px;
    bottom: -29px;
    padding-inline: 138px;
}

.chat-container {
  max-width: 916px;
  margin: 0 auto;
  padding: 20px;
  background-color: #6c6c6c00;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#messages {
  padding: 15px;
  background-color: #000000c4;
  border-radius: 8px;
  max-height: 400px;
  overflow-y: scroll;
  height: 61vh;
}

.message {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.message.sent {
  justify-content: flex-end;
}


.message.sent .message-content {
  background-color: #606060;
  color: #fafafa;
  border-radius: 12px 12px 0 12px;
  padding: 8px 15px;
}


.message .message-content {
  background-color: #ffffff;
  color: #6d6d6d;
  border-radius: 12px 12px 12px 0;
  padding: 8px 15px;
}

.message-user {
  font-weight: bold;
  margin-bottom: 5px;
}

.message-content {
  display: inline-block;
  max-width: 70%;
  word-wrap: break-word;

}

.message-bar{
  margin-top: -17px;
  border-radius: 6px;
}

.message-input {
  border-radius: 20px;
  padding: 10px;
}


.btn-primary {
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
}
///////////////////PARTIE DE CHATROOM (GAUCHE)//////////////////

.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Prend toute la hauteur de la fenêtre */
}

.sidebar-dashboard {
  display: flex;
  flex: 1;
  overflow: hidden; /* Empêche le débordement */
}

.sidebar-section {
  width: 25%; /* Largeur de la barre latérale */
  background-color: #6c6c6cbd;
  padding: 1rem;
  overflow-y: auto; /* Scrolling vertical si nécessaire */
  height: 620px;
}


.sidebar-item {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: #fff; /* Fond blanc pour chaque item */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.sidebar-item:hover {
  background-color: #e9ecef; /* Fond gris clair au survol */
}
.sidebar-user {
  color: #352d41;
  font-weight: bold;
  transition: 0.3s ease;

  &:hover {
    color: #5a4e76;

  }
}
.sidebar-link {
  display: inline-flex
;
  align-items: center;
  justify-content: center;
  background-color: #aaaaaa00;
  color: #00000030;
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  text-decoration: none;
  transition: background-color 0.3s;
  }


.sidebar-content {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  margin-block: 1px;
  margin-right: 68px;
  margin-left: 68px;
  border-radius: 7px;
  background-color: #6c6c6cbd;
  margin-bottom: 140px;
}
.image-container {
  display: flex;
  justify-content: center; /* Centre l'image horizontalement */
  align-items: center; /* Centre l'image verticalement */
  width: 100%;
  padding-bottom:10px
}

.image-container img {
  max-width: 80%; /* Ajuste la taille de l'image */
  height: auto; /* Conserve les proportions */
}

.h2-chatroom {
  height: 56px;
  font-size: 20px;
  margin-bottom: 20px;
  top: -28px;
  left: 3px;
}


.sidebar-title {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #1b1818;
}
.sidebar-header {
  position: relative;
  right: 541px;
  top: 28px;
}

#subtitle-chat {
  color: black;
  background-color: #e8e8e8;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 17px;
  text-align: center;
  border-radius: 7px;
  padding: 3px;
  position: relative;
  width: 98PX;
}

.content-message{
    color: #000000ad;
    font-family: "Noto Serif", serif;
    box-shadow: 0px 3px 0px 0px rgba(95, 95, 95, 0.1);
    background-color: #b4b4b438;
    font-size: 16px;
    text-align: center;
    border-radius: 7px;
    padding: 3px;
    position: relative;
    width: 322PX;
    padding-block: 19px;
}

.darker{
  color:black;
}
.icon-section {
position:relative;

}

.custom-btn {
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  padding: 22px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex
;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: background-color 0.3s ease;
  position: relative;
  top: -41px;
  margin-block: 11px;
}

  .custom-btn:hover {
    background-color: #333; /* Légèrement plus clair au survol */
  }
