.navbar-lewagon {
  background-color: black;
  //border-bottom: 1px solid #ddd;
  padding: 0.5rem 1rem;
  .navbar-logo {
    height: 150px; // Taille du logo ajustée
    // Ajuste la position du logo pour le centrer
    margin-top: -1rem;
    margin-bottom: -3rem;

  }
  .search-bar {
    flex: 1;
    max-width: 600px; // Limite la largeur de la barre de recherche
    margin: 0 auto;
    .form-control.search-input {
      border: 1px solid #ddd;
      border-radius: 50px;
      padding: 0.5rem 1rem;
      background-color: #f5f5f5;
      &::placeholder {
        color: #aaa;
        font-size: 0.9rem;
      }
    }
    .btn-search {
      background: none;
      border: none;
      color: #ffffff;
      margin-left: -35px;
      font-size: 1.2rem;
      cursor: pointer;
      &:hover {
        color: #978989; // Change la couleur au survol
      }
    }
  }
  .navbar-nav {
    .nav-item {
      margin-left: 15px;
      .nav-link {
        display: flex;
        align-items: center;
        color: #ffffff;
        text-decoration: none;
        font-size: 0.9rem;
        i {
          font-size: 1.2rem;
        }
        p{
          margin: 0;
          margin-left: 1rem;
          opacity: 0;
          transition: opacity 0.3s;
        }

        &:hover {
          color: #978989;
          p {
            opacity: 1;

          }
        }
      }
      .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}
