//  /* Assurez-vous que la div parent a une taille définie */
//  .video-background {
//   position: relative;
//   width: 100%; /* Peut être personnalisé selon vos besoins */
//   height: 400px; /* Vous pouvez ajuster la hauteur de la div */
//   overflow: hidden; /* Évite de faire déborder la vidéo */
// }

// /* Style de la vidéo en arrière-plan */
// .video-background video {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   object-fit: cover; /* La vidéo couvre toute la div sans déformation */
//   z-index: -1; /* La vidéo se trouve derrière le contenu */
// }

// /* Contenu à afficher sur la vidéo */
// .video-text-content {
//   position: relative;
//   z-index: 1;
//   color: white;
//   text-align: center;
//   padding: 20px;
// }

/* La vidéo en arrière-plan */
.video-background {
  position: fixed; /* Position fixe pour que la vidéo couvre toute la fenêtre */
  top: 0;
  opacity: 0.5; /* Opacité de la vidéo */
  filter: grayscale(50%); /* Image en noir et blanc */
  left: 0;
  width: 100%;  /* La vidéo couvre toute la largeur de la fenêtre */
  height: 100%; /* La vidéo couvre toute la hauteur de la fenêtre */
  object-fit: cover; /* La vidéo s'adapte pour couvrir l'ensemble de la fenêtre sans déformation */
  z-index: -1; /* La vidéo est en arrière-plan */
}

/* Contenu de la page, placé au-dessus de la vidéo */
.content {
  position: relative;
  z-index: 1; /* Assure que le contenu est au-dessus de la vidéo */
  color: white;
  text-align: center;
  padding: 50px;
}
