<h1>Votre Wishlist</h1>

 <ul>
  <% if @wishlists.any? %> 
    <% @wishlists.each do |wishlist| %>
      <li><%= wishlist.disc.title %> - <%= wishlist.disc.artist %></li>
    <% end %>
  <% else %>
    <li>Aucune wishlist pour cet utilisateur.</li>
  <% end %>
</ul>
